.icono-usuario {
    height: 19px;
    width: auto;
    vertical-align: middle;
    margin-right: 4px;
}

.icono-locacion {
    height: 17px;
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}
